<link rel='stylesheet' href='/stylesheets/style.css' />
<a href="/">Home</a>
<form method="POST" action="/new">
   <h1>New Message</h1>
   <input type="text" name="user" id="user" placeholder="User Name">
   <input type="text" name="message" id="message" placeholder="message" >
   <button id="submit" type="submit">Post Message</button>
 </form>